@model DataLayer.ViewModels.ForgetPasswordVm
@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Styles/LoginRegister.min.css" rel="stylesheet" />
<section class="forget-password-section">
    <content class="my-flex-card my-row my-clipped my-center" dir="rtl">
        <div class="my-column uk-margin-medium-bottom">
            <label class="uk-legend uk-text-bold">
                <span>فراموشی رمز عبور</span>
            </label>
            <img class="my-center MobileSize" src="~/img/formStatic/ForgetPassword.svg" width="250" alt="picture" />
            @using (Html.BeginForm())
            {
                @Html.Partial("_CaptchaInput")
                <fieldset class="uk-fieldset">
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <span class="uk-form-icon uk-form-icon-flip gly-rotate-270" uk-icon="icon:call"></span>
                            @Html.EditorFor(model => model.TellNo, new { htmlAttributes = new { @class = "uk-input card-with-border", placeholder = "شماره تماس خود را وارد کنید" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.TellNo, "", new { @class = "text-danger" })
                    </div>

                    <button type="submit" class="light-blue-button my-center uk-margin-top">
                        ارسال
                    </button>
                </fieldset>
            }
        </div>
        <div class="DesktopSize">
            <img src="~/img/formStatic/ForgetPassword.svg" width="360" alt="picture" />
        </div>
    </content>
</section>



