
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Styles/LoginRegister.min.css" rel="stylesheet" />
<section class="login-section">
    <content class="my-flex-card my-row my-clipped my-center" dir="rtl">
        
        <div class="my-column">
            <label class="uk-legend uk-text-bold">
                <span>ورود</span>
            </label>
            <img class="my-center MobileSize" src="~/img/formStatic/Login.svg" width="250" alt="picture" />
            <form>
                <fieldset class="uk-fieldset">
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <span class="uk-form-icon uk-form-icon-flip gly-rotate-270" uk-icon="icon:call"></span>
                            <input class="uk-input card-with-border" type="text" placeholder="شماره تماس">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon:lock-closed"></span>
                            <input class="uk-input card-with-border" type="text" placeholder="رمز عبور">
                        </div>
                    </div>
                    <button onclick="location.href=''" class="light-blue-button my-center uk-margin-top">
                        ورود
                    </button>
                    <div class="uk-margin-bottom uk-margin-top my-center">
                        <a href="/Account/ForgetPassword" class="mytext-gray ">فراموشی رمز عبور</a>
                    </div>
                </fieldset>
            </form>
        </div>
    <div class="DesktopSize">
        <img src="~/img/formStatic/Login.svg" width="360" alt="picture" />
    </div>
</content>
</section>