
@{
    ViewBag.Title = "داشبورد";
    Layout = "~/Areas/Hospital/Views/Shared/_Layout.cshtml";
}

<div class="row flex-div">
    <div class="col-md-12 flex pb-3 pt-3 pr-0 pl-0">
        <div class="col-md-12 mb-2">
            <div class="card shadow-full border-0">
                <div class="card-body user-card-bg">
                </div>
                <div class="card-body user-content">
                    <div class="row">
                        <a href="" class="col-md-3 text-dark">
                            <div class="user-box alert alert-success p-3 rounded shadow">
                                <span uk-icon="person"></span>
                                <div class="user-title mb-3 mt-3">
                                    <span class="icon-pic-success">پزشکان</span>
                                </div>
                                <div class="user-count">
                                    <span class="icon-pic-primary font-weight-bold">5</span>
                                </div>
                            </div>
                        </a>
                        <a href="" class="col-md-3 text-dark">
                            <div class="user-box alert alert-danger p-3 rounded shadow">
                                <span uk-icon="people"></span>
                                <div class="user-title mb-3 mt-3">
                                    <span class="icon-pic-danger">کاربران</span>
                                </div>
                                <div class="user-count">
                                    <span class="icon-pic-primary font-weight-bold">6</span>
                                </div>
                            </div>
                        </a>
                        <a href="" class="col-md-3 text-dark">
                            <div class="user-box alert alert-info p-3 rounded shadow">
                                <span uk-icon="people"></span>
                                <div class="user-title mb-3 mt-3">
                                    <span class="icon-pic-info">کاربران</span>
                                </div>
                                <div class="user-count">
                                    <span class="icon-pic-info font-weight-bold">5</span>
                                </div>
                            </div>
                        </a>
                        <a href="" class="col-md-3 text-dark">
                            <div class="user-box alert alert-success p-3 rounded shadow">
                                <span uk-icon="person"></span>
                                <div class="user-title mb-3 mt-3">
                                    <span class="icon-pic-success">پزشکان</span>
                                </div>
                                <div class="user-count">
                                    <span class="icon-pic-primary font-weight-bold">12</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 mb-2">
            <div class="card shadow-full border-0">
                <div class="card-body user-card-bg">
                </div>
                <div class="card-body user-content">
                    <div class="row">
                        <a href="" class="col-md-4 text-dark">
                            <div class="user-box alert alert-primary p-3 rounded shadow">
                                <span uk-icon="people"></span>
                                <div class="user-title mb-3 mt-3">
                                    <span class="icon-pic-primary">کاربران</span>
                                </div>
                                <div class="user-count">
                                    <span class="icon-pic-primary font-weight-bold">5</span>
                                </div>
                            </div>
                        </a>
                        <a href="" class="col-md-4 text-dark">
                            <div class="user-box alert alert-info p-3 rounded shadow">
                                <span uk-icon="people"></span>
                                <div class="user-title mb-3 mt-3">
                                    <span class="icon-pic-info">کاربران</span>
                                </div>
                                <div class="user-count">
                                    <span class="icon-pic-info font-weight-bold">7</span>
                                </div>
                            </div>
                        </a>
                        <a href="" class="col-md-4 text-dark">
                            <div class="user-box alert alert-warning p-3 rounded shadow">
                                <span uk-icon="people"></span>
                                <div class="user-title mb-3 mt-3">
                                    <span class="icon-pic-warning">کاربران</span>
                                </div>
                                <div class="user-count">
                                    <span class="icon-pic-warning font-weight-bold">3</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
