@model DataLayer.ViewModels.VmChangePassword

@using (Ajax.BeginForm("ChangePassword", "User", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "RegisterForm" }, htmlAttributes: new { @id = "RegisterForm" }))
{
    @Html.HiddenFor(model => model.Id)
    <div class="modal-header">
        <h6 class="modal-title" id="modalCenterTitle">
            ویرایش رمز کاربر @ViewBag.UserName
        </h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-row">
                <label>رمز </label>
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "مثال: رمز" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

        </div>
    </div>
    <div class="modal-footer justify-content-end">
        <button type="submit" class="btn btn-success btn-sm text-white">ویرایش رمز<span class="icon-holder uk-margin-small-right" uk-icon="add-circle-outline"></span></button>
    </div>
}


