<div class="modal-header">
    <h6 class="modal-title" id="modalCenterTitle">
        جزئیات کاربر
    </h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="form-row ">
        <div class="form-group col-md-3">
            <label>نام  کاربر: </label>
            <span>علی رضایی</span>
        </div>
        <div class="form-group col-md-3">
            <label>شماره تماس: </label>
            <span>09585456</span>
        </div>
        <div class="form-group col-md-3">
            <label>کد ملی: </label>
            <span>856958</span>
        </div>
        <div class="form-group col-md-3">
            <label>جنسیت:</label>
            <span>زن</span>
            <span>مرد</span>
        </div>
        <div class="form-group col-md-3">
            <label>نقش: </label>
            <span>ادمین اصلی</span>
            <span>ادمین مرکز درمانی</span>
        </div>
        <div class="form-group col-md-3">
            <label>وضعیت: </label>
            <span class="text-success">فعال</span>
            <span class="text-danger">غیر فعال</span>
        </div>
    </div>
</div>


