
@{
    ViewBag.Title = "تنظیمات";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<!--<div class="row flex-div">
    <div class="col-md-12 flex-div pb-3 pt-3">
        <div class="card flex-div border-0 main-shadow">
            <div class="card-header bg-white">
            </div>
            <div id="card-table" class="card-body flex-div">

                @using (Html.BeginForm())
                {
                    <div class="form-row mt-3 fixed overflow-auto">
                        <div class="form-group col-lg-12">
                            <label>سقف هزینه ارسال رایگان: </label>
                            <input data-type='currency' class="form-control form-control-sm d-inline-block d-sm-block col-lg-10 float-left PriceInput" placeholder="مثال: 19,000">
                            <input type="hidden" asp-for="SagfePost" />
                            <br /><span class="text-danger" asp-validation-for="SagfePost"></span>
                        </div>

                        <div class="form-group col-lg-12">
                            <div class="form-group col-12">
                                <label class="mt-2">متن درباره ما </label>
                                <textarea id="Description" class="textarea-fix-height-120" placeholder=" متن توضیحات... "></textarea>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-success btn-sm text-white">ثبت تغییرات<span class="icon-holder uk-margin-small-right" uk-icon="create-outline"></span></button>
                    </div>
                }

            </div>

            <div class="card-footer bg-white text-left">
                <nav aria-label="Page navigation example">-->
                    @*@await this.Component.InvokeAsync("Pager", new { PagingList = this.Model })*@
                <!--</nav>
            </div>
        </div>
    </div>
</div>-->


<script>
    $(function () {
        $('#Description').ckeditor();
    });
</script>