<div class="modal-header">
    <h6 class="modal-title" id="modalCenterTitle">
        تنظیمات پرونده های الکترونیکی
    </h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form>
    <div class="modal-body">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label>عنوان</label>
                <input class="form-control" placeholder="عنوان">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-12">
                <label class="mt-2">متن </label>
                <textarea class="textarea-fix-height-120" placeholder=" متن توضیحات... "></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer justify-content-end">
        <button type="submit" class="btn btn-success btn-sm text-white">ثبت<span class="icon-holder uk-margin-small-right" uk-icon="checkmark-circle-outline"></span></button>
    </div>
</form>

