
@{
    ViewBag.Title = "محتویات تیکت";
    Layout = "~/Areas/Hospital/Views/Shared/_Layout.cshtml";
}

<div class="row flex-div">
    <div class="col-md-12 flex-div pb-3 pt-3">
        <div class="card flex-div border-0 main-shadow">
            <div class="card-header bg-white">
                
            </div>
            <div id="card-table" class="card-body flex-div">
                <div class="table-responsive flex">
                    
                </div>
            </div>

            <div class="card-footer bg-white">

            </div>
        </div>
    </div>
</div>

