<div class="modal-header">
    <h6 class="modal-title" id="modalCenterTitle">
        جزئیات مراکز درمانی
    </h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="form-row ">
        <div class="form-group col-md-3">
            <label>دسته بندی: </label>
            <span>بیمارستان</span>
        </div>
        <div class="form-group col-md-3">
            <label>نام مرکز درمانی: </label>
            <span>امام رضا</span>
        </div>
        <div class="form-group col-md-3">
            <label>شماره های تماس: </label>
            <span>04156465 - 0415486</span>
        </div>
        <div class="form-group col-md-3">
            <label>نام ادمین: </label>
            <span>علی رضایی</span>
        </div>
        <div class="form-group col-md-3">
            <label>تاریخ ثبت مرکز درمانی: </label>
            <span>تاریخ فلان</span>
        </div>
        <div class="form-group col-md-3">
            <label>درصد سود: </label>
            <span>5%</span>
        </div>
        <div class="form-group col-md-3">
            <label>وضعیت: </label>
            <span class="text-success">فعال</span>
            <span class="text-danger">غیر فعال</span>
        </div>
        <hr />
        <div class="form-group col-12">
            <label>آدرس: </label>
            <span>تبریز- خیابان امام ....</span>
        </div>
        <hr />
        <div class="form-group col-12">
            <label>توضیحات درباره مرکز درمانی:</label>
            <div class="bg-light p-3 uk-border-rounded">
                از آنجا که لورم ایپسوم، شباهت زیادی به متن های واقعی دارد، طراحان معمولا از لورم ایپسوم استفاده میکنند تا فقط به مشتری یا کار فرما نشان دهند که قالب طراحی شده بعد از اینکه متن در آن قرار میگرد چگونه خواهد بود و فونت ها و اندازه ها چگونه در نظر گرفته شده است.
            </div>
        </div>
    </div>
</div>


