jdp-container {
    * {
        font-family: Sahel !important;
    }
    width: 50%;
    text-align: center;
    align-content: center;
    align-self: center;
    margin: 0 auto;
    position:center!important;
}
.jdp-years {
    display: none !important;
}
.jdp-months {
    padding: 7px;
    border-radius: 5px !important;
    text-align: center !important;
    color: white !important;

    .jdp-month {
        width: 100% !important;
    }

    select {
        background: #FFBC5A !important;
        border: none !important;
    }

    option {
        background: white !important;
    }
}
.jdp-days {
    width: 100% !important;
}
.jdp-day {
    border-radius: 3px !important;
    margin: 3px !important;
    padding: 2px;
    width: 50px !important;
    flex-basis: 50px !important;
}
.jdp-day-name {
    background: #67B7D1 !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
    border-radius: 3px !important;
    margin: 3px !important;
    color: white !important;
    padding: 2px;
    width: 50px !important;
    flex-basis: 50px !important;
}
.jdp-footer{
    display:none!important;
}
///////////////mobile//////////////
@media only screen and (max-width :767px) {
    jdp-container /* .jdp-years */ {
        width: 100%;
    }
    .jdp-day-name {
   /*     background: #67B7D1 !important;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
        border-radius: 3px !important;*/
        margin: 1px !important;
/*        color: white !important;*/
        padding: 2px;
        width: 50px !important;
        flex-basis: 50px !important;
    }
}