<div class="modal-header">
    <h6 class="modal-title" id="modalCenterTitle">
        جزئیات گردش حساب
    </h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="form-row ">
        <div class="form-group col-md-3">
            <label>کد:</label>
            <span>1234</span>
        </div>
        <div class="form-group col-md-3">
            <label>نام کاربر:</label>
            <span>رضا رضایی</span>
        </div>
        <div class="form-group col-md-3">
            <label>نام پزشک:</label>
            <span>محمد امینی</span>
        </div>
        <div class="form-group col-md-3">
            <label>نام تخصص:</label>
            <span>قلب و عروق</span>
        </div>
        <div class="form-group col-md-3">
            <label>تاریخ مراجعه:</label>
            <span>فلان تاریخ</span>
        </div>
        <div class="form-group col-md-3">
            <label>درصد برداشت پزشک:</label>
            <span>10</span>
        </div>
        <div class="form-group col-md-3">
            <label>درصد برداشت مرکز درمانی:</label>
            <span>10</span>
        </div>
        <div class="form-group col-md-3">
            <label>هزینه پرداختی (تومان):</label>
            <span>50000</span>
        </div>
        <div class="form-group col-md-3">
            <label>وضعیت:</label>
            <span class="text-success">تسویه شده</span>
            <span class="text-danger">تسویه نشده</span>
        </div>

    </div>
</div>

