<div class="modal-header">
    <h6 class="modal-title" id="modalCenterTitle">
        ویرایش تخصص
    </h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form>
    <div class="modal-body">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label>عنوان تخصص</label>
                <input class="form-control" type="text" placeholder="مثال: قلب و عروق">
            </div>
            <div class="form-check col-md-3 mr-5">
                <input type="checkbox" class="form-check-input " id="ActiveCheck">
                <label class="form-check-label" for="ActiveCheck">فعال است</label>
            </div>
        </div>
    </div>
    <div class="modal-footer justify-content-end">
        <button type="submit" class="btn btn-success btn-sm text-white">ویرایش<span class="icon-holder uk-margin-small-right" uk-icon="create-outline"></span></button>
    </div>
</form>
