@model DataLayer.Models.TblUser
@{
    ViewBag.Title = "دریافت نوبت";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Styles/Hospital.min.css" rel="stylesheet" />
<link href="~/Content/jalalidatepicker.css" rel="stylesheet" />
<script src="~/Content/jalalidatepicker.js"></script>

<section class="intakeDay-section my-clipped uk-margin-medium-bottom">
    <!--doctor name in intake day section-->
    <div class="uk-text-center" uk-grid dir="rtl">
        <div class="uk-width-expand intake-header-section">
            <!--doctor name-->
            <div class="my-row intake-day-header" dir="ltr">
                <div class="uk-margin-auto-vertical my-column">
                    <div class="card-with-border my-center">
                        <img src="~/Resources/Images/User/Thumb/@Model.ImageUrl" alt="picture" />
                    </div>
                    <span class="uk-margin-small-top">@Model.Name </span>
                </div>
                <label class="uk-legend uk-margin-auto-vertical uk-text-bold uk-text-right uk-margin-right" dir="rtl">
                    <span>انتخاب روز ویزیت</span>
                </label>
            </div>
            <!--end section-->
        </div>
    </div>
    <!--end doctor name in intake day section-->
    <div class="uk-text-center" uk-grid dir="rtl">
        <!--search filter section-->
        <div class="uk-width-1-4 filter-section">
            <div class="filter-card my-column">
                <div class="filter-header uk-margin-top uk-margin-bottom">محدود کردن نتایج جستجو</div>
                <form>
                    <div class="">
                        <select class="uk-select card-with-border city">
                            <option>انتخاب شهر</option>
                            <option>تبریز</option>
                            <option>تهران</option>
                        </select>
                    </div>
                    <hr class="uk-divider-icon" />
                    <div class="uk-text-right my-column uk-margin-right uk-margin-bottom">
                        <label class="my-row"><input class="uk-checkbox" type="checkbox" checked> گزینه 1 </label>
                        <label class="my-row"><input class="uk-checkbox" type="checkbox"> گزینه 2 </label>
                        <label class="my-row"><input class="uk-checkbox" type="checkbox"> گزینه 3 </label>
                        <label class="my-row"><input class="uk-checkbox" type="checkbox"> گزینه 4 </label>
                        <label class="my-row"><input class="uk-checkbox" type="checkbox"> گزینه 5 </label>
                    </div>
                </form>
            </div>
        </div>
        <hr class="uk-divider-vertical uk-margin-remove">
        <div class="uk-width-expand">

            <div class="my-borderless-card uk-margin-medium-bottom">
                <div class="my-row my-center pb-1">
                    <span class="mytext-orange calendar-icon" uk-icon="icon: calendar"></span>
                    <input id="VisitDay" class="uk-input mytext-darkBlue intake-day-input pr-1" type="text" placeholder="مشاهده تقویم زمانی" data-jdp>
                </div>
                <!--calender section-->
                <calendar id="calendar">

                </calendar>
            </div>
        </div>
    </div>
</section>

<section class="intake-modal-section">
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->

    </div>
</section>


<input type="hidden" name="UserId" id="UserId" value="@Model.UserId" />
<script>
    jalaliDatepicker.startWatch({
        days: ["شنبه", "یکشنبه", "دوشنبه", "سه شنبه", "چهارشنبه", "پنجشنبه", "جمعه"],
        showTodayBtn: "false",
        showEmptyBtn: "false",
        /*selector: "div[data-jdp]",*/
        container: "calendar",
        //container:"jdp-container",
    });

    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var input = document.getElementById("VisitDay");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    input.onchange = function (elmt) {
        var fields = input.value.split('/');
        var dayNumber = fields[3];
        var id = $('#UserId').val();
        $.get("/Home/ViewDayVisit/" + id + "?day=" + input.value, function (result) {
            modal.style.display = "block";
            $("#myModal").html(result);
        });

    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {

        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>