
@{
    ViewBag.Title = "قوانین";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Styles/Information.min.css" rel="stylesheet" />
<section class="confirm-information-section">
    <label class="uk-legend uk-text-bold uk-text-right">
        <span>قوانین</span>
    </label>
    <div class="my-borderless-card uk-margin-medium-bottom">
        <content class=" my-column my-center" dir="rtl">
            <div class="my-column">
                <div class="my-center">
                    <div class="my-center uk-margin-top">
                        <img src="~/img/formStatic/rules.svg" width="360" alt="picture" />
                    </div>
                </div>
                <div class="my-center information pb-5">

                </div>
            </div>
        </content>
    </div>
</section>

